[submodule "submodules/bigcode"]
	path = submodules/bigcode
	url = git@github.com:bigswitch/BigCode
[submodule "submodules/broadcom"]
	path = submodules/broadcom
	url = git@github.com:bigswitch/Broadcom
[submodule "submodules/lb9-sdk-5.6.6"]
	path = submodules/lb9-sdk-5.6.6
	url = git@github.com:bigswitch/pandora-lb9-sdk-5.6.6
[submodule "submodules/ly2-sdk-5.10.0"]
	path = submodules/ly2-sdk-5.10.0
	url = git@github.com:bigswitch/pandora-ly2-sdk-5.10.0
[submodule "submodules/sdk-6.2.7"]
	path = submodules/sdk-6.2.7
	url = git@github.com:bigswitch/sdk-6.2.7
[submodule "submodules/loader"]
	path = submodules/loader
	url = git@github.com:bigswitch/pandora-loader
[submodule "submodules/linux"]
	path = submodules/linux
	url = git@github.com:bigswitch/pandora-linux
