Source: brcmd-6.3.3-internal
Section: misc
Priority: optional
Maintainer: Support <support@bigswitch.com>
Build-Depends: debhelper (>= 9), libedit-dev, libncurses5-dev, libsnmp-dev
Standards-Version: 3.8.4

Package: brcmd-6.3.3-internal
Architecture: powerpc
Depends: libc6, python, libedit2, libncurses5, libsnmp15, libbroadcom-6.3-internal
Description: Broadcom Agent for SwitchLight
 This package provides the Broadcom agent for the SwitchLight switch platform.


Package: brcmd-6.3.3-internal-dbg
Architecture: powerpc
Section: debug
Priority: extra
Depends:
	brcmd-6.3.3-internal (= ${binary:Version}),
	${misc:Depends}
Description: debugging symbols for brcmd
 This packages provides the debug symbols for brcmd



