#!/usr/bin/make -f

DEB_DH_INSTALL_SOURCEDIR = debian/tmp

INSTALL_DIR = $(CURDIR)/$(DEB_DH_INSTALL_SOURCEDIR)

BRCMD_6_3_3_DIR := $(SWITCHLIGHT)/components/powerpc/broadcom/brcmd/brcmd-6.3.3-internal

%:
	dh $@

build-arch:
	dh build-arch

clean:
	dh clean

override_dh_auto_install:
	mkdir -p $(INSTALL_DIR)/usr/bin
	cp $(BRCMD_6_3_3_DIR)/build/$(DEB_HOST_GNU_TYPE)/bin/brcmd.shared $(INSTALL_DIR)/usr/bin/brcmd-6.3

override_dh_strip:
	dh_strip --dbg-package=brcmd-6.3.3-internal-dbg

override_dh_shlibdeps:
	@echo "warning: ignoring shlibdeps due to libbroadcom.so dependency."
