Source: platform-quanta-ly2r
Section: misc
Priority: optional
Maintainer: Jeffrey Townsend <jeff@bigswitch.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.4

Package: platform-quanta-ly2r
Architecture: powerpc
Depends: 
Description: Quanta LY2R Platform Files
 Quanta LY2R Platform Files
