Source: brcmd-6.2.7-internal
Section: misc
Priority: optional
Maintainer: Jeffrey Townsend <jeff@bigswitch.com>
Build-Depends: debhelper (>= 9), libedit-dev, libncurses5-dev, libsnmp-dev
Standards-Version: 3.8.4

Package: brcmd-6.2.7-internal
Architecture: powerpc
Depends: libc6, python, libedit2, libncurses5, libsnmp15, libbroadcom-6.2-internal
Description: Broadcom Agent for SwitchLight
 This package provides the Broadcom agent for the SwitchLight switch platform.


Package: brcmd-6.2.7-internal-dbg
Architecture: powerpc
Section: debug
Priority: extra
Depends:
	brcmd-6.2.7-internal (= ${binary:Version}),
	${misc:Depends}
Description: debugging symbols for brcmd
 This packages provides the debug symbols for brcmd



