#!/usr/bin/make -f
############################################################
# <bsn.cl fy=2013 v=none>
# 
#        Copyright 2013, 2014 BigSwitch Networks, Inc.        
# 
# 
# 
# </bsn.cl>
############################################################

DEB_DH_INSTALL_SOURCEDIR = debian/tmp

INSTALL_DIR = $(CURDIR)/$(DEB_DH_INSTALL_SOURCEDIR)

BRCMD_6_2_7_DIR := $(SWITCHLIGHT)/components/powerpc/broadcom/brcmd/brcmd-6.2.7-internal

%:
	dh $@

build-arch:
	dh build-arch

clean:
	dh clean

override_dh_auto_install:
	mkdir -p $(INSTALL_DIR)/usr/bin
	cp $(BRCMD_6_2_7_DIR)/build/$(DEB_HOST_GNU_TYPE)/bin/brcmd.shared $(INSTALL_DIR)/usr/bin/brcmd-6.2

override_dh_strip:
	dh_strip --dbg-package=brcmd-6.2.7-internal-dbg

override_dh_shlibdeps:
	@echo "warning: ignoring shlibdeps due to libbroadcom.so dependency."
