Source: platform-quanta-lb8d
Section: misc
Priority: optional
Maintainer: Jeffrey Townsend <jeff@bigswitch.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.4

Package: platform-quanta-lb8d
Architecture: powerpc
Depends: 
Description: Quanta LB8D Platform Files
 Quanta LB8D Platform Files
