Source: libbroadcom-6.3-kernel-e500mc-modules
Section: misc
Priority: optional
Maintainer: Support <support@bigswitch.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.4

Package: libbroadcom-6.3-kernel-e500mc-modules
Architecture: powerpc
Depends:
Description: Broadcom SDK 6.3.3 kernel modules for the e500mc kernel.
 This package provides the Broadcom SDK 6.3.3 kernel modules for the e500mc kernel.

