Source: platform-config-quanta-lb9
Section: misc
Priority: optional
Maintainer: Support <support@bigswitch.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.4

Package: platform-config-quanta-lb9
Architecture: all
Depends: 
Description: Platform Configuration files for quanta-lb9.
 Platform Configuration files for quanta-lb9.
