Source: libbroadcom-6.2-release
Section: misc
Priority: optional
Maintainer: Jeffrey Townsend <jeff@bigswitch.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.4

Package: libbroadcom-6.2-release
Architecture: powerpc
Depends: libc6
Description: Broadcom SDK 6.2 Release Libraries for SwitchLight
 This package provides the Broadcom SDK library for the SwitchLight platform. 

Package: libbroadcom-6.2-release-dbg
Section: debug
Priority: extra
Architecture: powerpc
Depends: libbroadcom-6.2-release (= ${binary:Version})
Description: Debug symbols for libbroadcom-6.2-release

Package: libbroadcom-6.2-release-dev
Architecture: powerpc
Description: Broadcom SDK 6.2 Release Development Package for SwitchLight
 This package provides the Broadcom SDK library development package for the SwitchLight platform. 

