Source: libbroadcom-5.6-internal-src
Section: misc
Priority: optional
Maintainer: Jeffrey Townsend <jeff@bigswitch.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.4

Package: libbroadcom-5.6-internal-src
Architecture: all
Depends: 
Description: Broadcom SDK Source Package
 This package provides the Broadcom SDK source package for the SwitchLight platform. 

