Source: platform-quanta-lb9a
Section: misc
Priority: optional
Maintainer: Jeffrey Townsend <jeff@bigswitch.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.4

Package: platform-quanta-lb9a
Architecture: powerpc
Depends: 
Description: Quanta LB9A Platform Files
 Quanta LB9A Platform Files
