Source: libbroadcom-6.3-internal
Section: misc
Priority: optional
Maintainer: Support <support@bigswitch.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.4

Package: libbroadcom-6.3-internal
Architecture: amd64
Depends: libc6
Description: Broadcom SDK 6.3 Internal Libraries for SwitchLight
 This package provides the Broadcom SDK library for the SwitchLight platform. 

Package: libbroadcom-6.3-internal-dbg
Section: debug
Priority: extra
Architecture: amd64
Depends: libbroadcom-6.3-internal (= ${binary:Version})
Description: Debug symbols for libbroadcom-6.3-internal

Package: libbroadcom-6.3-internal-dev
Architecture: amd64
Description: Broadcom SDK 6.3 Internal Development Package for SwitchLight
 This package provides the Broadcom SDK library development package for the SwitchLight platform. 

