Source: kernel-as6700
Section: misc
Priority: optional
Maintainer: Support <support@bigswitch.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.4

Package: kernel-as6700
Architecture: powerpc
Depends: 
Description: SwitchLight Kernel for the AS6700
 This package provides the SwitchLight Kernel for the AS6700

Package: kernel-as6700-headers
Architecture: powerpc
Depends: 
Description: SwitchLight Kernel for the AS6700
 This package provides the SwitchLight Kernel for the AS6700 (Headers)

Package: kernel-as6700-dtbs
Architecture: powerpc
Depends:
Description: SwitchLight DTBs for the AS6700 platform
 This package provides the DTB for the AS6700 platform.