Source: libbroadcom-5.10-internal
Section: misc
Priority: optional
Maintainer: Jeffrey Townsend <jeff@bigswitch.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.4

Package: libbroadcom-5.10-internal
Architecture: powerpc
Depends: libc6
Description: Broadcom SDK 5.10 Internal Libraries for SwitchLight
 This package provides the Broadcom SDK library for the SwitchLight platform. 

Package: libbroadcom-5.10-internal-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libbroadcom-5.10-internal (= ${binary:Version})
Description: Debug symbols for libbroadcom-5.10-internal

Package: libbroadcom-5.10-internal-dev
Architecture: powerpc
Description: Broadcom SDK 5.10 Internal Development Package for SwitchLight
 This package provides the Broadcom SDK library development package for the SwitchLight platform. 

