#!/usr/bin/make -f
############################################################
# <bsn.cl fy=2013 v=none>
#
#        Copyright 2013, 2014 BigSwitch Networks, Inc.
#
#
#
# </bsn.cl>
############################################################
DEB_DH_INSTALL_SOURCEDIR=debian/tmp
INSTALL_DIR=$(CURDIR)/$(DEB_DH_INSTALL_SOURCEDIR)
BASEDIR=/usr/lib/python2.7/dist-packages/

%:
	dh $@

build-arch:
	dh build-arch

clean:
	dh clean

override_dh_auto_install:
	mkdir -p $(INSTALL_DIR)$(BASEDIR)/
	cp -R ../../src/python/* $(INSTALL_DIR)$(BASEDIR)
	mkdir -p $(INSTALL_DIR)/usr/sbin
	mkdir -p $(INSTALL_DIR)/usr/bin
	cp ../../src/bin/slrest-server.py $(INSTALL_DIR)/usr/sbin/slrest-server
	cp ../../src/bin/slrest.py $(INSTALL_DIR)/usr/bin/slrest
	mkdir -p $(INSTALL_DIR)/etc/slrest.conf.d
	$(SWITCHLIGHT)/tools/sslgen.sh $(INSTALL_DIR)/etc/slrest.conf.d/privatekey.pem $(INSTALL_DIR)/etc/slrest.conf.d/cert.pem
	cp ../../src/slrest.conf $(INSTALL_DIR)/etc/slrest.conf







