#!/usr/bin/make -f

include $(SWITCHLIGHT)/make/config.mk

DEB_DH_INSTALL_SOURCEDIR = debian/tmp
INSTALL_DIR = $(CURDIR)/$(DEB_DH_INSTALL_SOURCEDIR)

%:
	dh $@

build-arch:
	dh build-arch

clean:
	dh clean

ifndef PACKAGE_NAME
$(error No Package Name)
endif

ZEROTOUCH_DIR := /usr/share/floodlight/zerotouch

override_dh_auto_install:
	mkdir -p $(INSTALL_DIR)$(ZEROTOUCH_DIR)
	cp ../../$(INSTALLER_NAME) $(INSTALL_DIR)$(ZEROTOUCH_DIR)
	cp $(INSTALLER_SWI) $(INSTALL_DIR)$(ZEROTOUCH_DIR)
	echo "usr/*" > debian/$(PACKAGE_NAME).install


