#!/usr/bin/make -f

DEB_DH_INSTALL_SOURCEDIR = debian/tmp
INSTALL_DIR = $(CURDIR)/$(DEB_DH_INSTALL_SOURCEDIR)

%:
	dh $@

build-arch:
	dh build-arch

clean:
	dh clean

override_dh_auto_install:
	mkdir -p $(INSTALL_DIR)/usr/platforms/quanta-ly2
	cp ../../switchlight.quanta-ly2.loader $(INSTALL_DIR)/usr/platforms/quanta-ly2/
	cp ../../switchlight.quanta-ly2.flash $(INSTALL_DIR)/usr/platforms/quanta-ly2/

